@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  width: 100vw;
  height: 100vh;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #000000 0%, #00011d 100%);
  
}

.tech-text{
  -webkit-text-stroke: 1px #fafafa;
}

.active {
  /* Your active styles here */
  background-color: blue;
}

.gradient{
  background: radial-gradient(rgb(4,4,4,0.7), rgb(2,5,31,0.7))
}

.gradient-btn{
  background: linear-gradient(rgb(15,6,70,1), rgb(18,18,18,1));
  border-radius: 24px;
  transition: box-shadow 0.15s ease-in-out;
}

.gradient-btn:hover{
  box-shadow: 0 2px 26px 6px rgba(127, 143, 221, 0.815);
}